.wrapperB{
    display: flex;
    justify-content: center;
    margin: 2rem;
}


.wrap-P{
    margin: 0 6rem;
    padding: 4rem 3rem;
    flex-direction: column;
    width: 40%;
    }

.wrap-P img {
    width: 100%;
    height: 60%;
    border-radius: 0.4rem;
}

.thumbP {
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.thumbP li{
    width: 5rem;
    padding: 0;
}


.textW{
    padding: 8rem 3rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.lastButtons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


button{
    padding: 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

/* Texts */
h6 {
    color: hsl(26, 100%, 55%);
}

.lastButtons{
    display: flex;

}

.numB, .addToCart {
    width: 50%;
}

.addToCart button{
    background-color: hsl(26, 100%, 55%);
    color: white;
}

.addToCart button:hover{
    background-color: hsl(25, 100%, 94%);
}

.numB button{
    color: hsl(26, 100%, 55%);
}


