.wrapperB{
    display: flex;
    justify-content: center;
    margin: 2rem;

}

.modalW{
    display: none;
}

.wrap-P{
    margin: 0 6rem;
    padding: 4rem 3rem;
    flex-direction: column;
    width: 40%;
    }

.wrap-P img {
    width: 100%;
    height: 60%;
    border-radius: 0.4rem;
}

.thumbP {
    margin: 2rem 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.thumbP li{
    width: 5rem;
    padding: 0;
}


.textW{
    padding: 8rem 3rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.priceD{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.priceD label{
    font-weight: bold;
    color: hsl(26, 100%, 55%);
    border-radius: 0.2rem;
    padding: 0.2rem;
    background-color: hsl(25, 100%, 94%);
}

.oldPrice{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.294);
    font-weight: bold;
}

.lastButtons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


button{
    padding: 0.5rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

/* Texts */
h5 {
    font-weight: bold;
    color: hsl(26, 100%, 55%);
}

.lastButtons{
    display: flex;

}

.numB, .addToCart {
    width: 50%;
}


.numB button{
    font-weight: bolder;
    color: hsl(26, 100%, 55%);
    border: none;
    border-radius: 0.2rem;
    padding: 1rem;
    background-color: hsl(223, 64%, 98%)
}

.numB label {
    font-weight: bold;
    color: black;
    border-radius: 0.2rem;
    padding: 1rem;
    background-color: hsl(223, 64%, 98%)
}

.addToCart button{
    background-color: hsl(26, 100%, 55%);
    color: white;
    padding: 1rem;
    border: none;
    border-radius: 0.4rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    font: bold;
}

.addToCart button:hover{
    background-color: hsla(26, 100%, 55%, 0.529);
}

.addToCart button img {
    color: none;
}


@media (max-width: 375px) {
    .wrapperB{
        margin: 0rem;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }
    .wrap-P{
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
    }
    .wrap-P ul{
        display: none;
    }
    .wrap-P img{
        width: 100%;
        border-radius: 0rem;
    }
    .modalW{
        position: absolute;
        display: flex;
    }

    .textW{
        margin: 2rem 0 2rem 0;
        padding: 0 2rem;
        width: 100%;
    }
    .lastButtons{
        display: flex;
        flex-direction: column;
    }
    .numB, .numB button, .numB label{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 0.2rem;
        border-radius: 0.4rem;
        margin: 0 0 1rem 0;
    }
    .addToCart{
        width: 100%;
    }
}