.wrapper{
    position: relative;
    padding: 2rem;
    justify-content: space-between;
}

.wrapper, .tab-C, ul ,.headIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab-C{
    width: 30%;
    justify-content: space-between;
}

.tab-C ul{
    flex-direction: row;
}

li{
    cursor: pointer;
    margin: 0 0.2rem;
    list-style: none;
    padding: 0 0.5rem;
    color: rgba(0, 0, 0, 0.552);
}

li:hover{
    color: black;
    transition: 2ms;
}


.imgP{
    width: 2rem;
    height: 2rem;
}
.headIcons{
    width: 5%;
    justify-content: space-between;
    gap: 20%;
}

.bar{
    display: none;
}

@media(max-width: 735px){

    
    .bar{
        display: flex;
        z-index: 5;
    }
    .tab-C ul{
        display: none;
    }

    .respDiv {
        position: absolute;
        display: block;
        flex-direction: column;
        background-color: white;
        box-shadow: 0 0 25rem 0 rgba(0, 0, 0, 0.9);
        z-index: 4;
        top: 0rem;
        left: 0rem;
        width: 60%;
        /* height: 100%; */
        padding: 6rem 0 58rem 2rem;
        transition: 0.5s;

    }

    .respDiv li{
        margin: 1rem 0 0 0;
        font-size: 1rem;
        font-weight: 700; 
    }

    .headIcons{
        padding: 0 2rem;
        width: 20%;
        gap: 20%;
    }



}