.cartWrapper{
    position: absolute;
    top: 4rem;
    right: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 1.2rem;
    width: 20rem;
}


.cartB{
    display: flex;
    flex-direction: row;
}

.cartImg{
    width: 2rem;
    height: 2rem;
    border-radius: 0.2rem;
}

.cartT{
    margin: 0 0 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

}

.cartWrapper button{
    color: white;
    border: none;
    background-color: hsl(26, 100%, 55%);
}