.cartWrapper{
    position: absolute;
    top: 4rem;
    right: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 0, 0);
    gap: 1.2rem;
    width: 40rem;
}


.cartB{
    display: flex;
    flex-direction: row;
}

.cartImg{
    width: 2rem;
    height: 2rem;
    border-radius: 0.2rem;
}